@model MVCDemo.Models.Passenger
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h1>@Model.Id</h1>
    
<h1>@Model.Name</h1>

<h1>@Model.Balance</h1>

<h1>Offer Rate :@Model.AccountType.OfferRate</h1>
